# Compiled object files
*.o
*.obj
*.obj.d

# Precompiled C/C++ header files
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (libraries)
*.so
*.so.*
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
build/
Build/
build-debug/
build-release/
Debug/
Release/